.listaSavedPreguntas {
  padding: 0 15%;
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
.guardadasTitle {
  display: flex;
  justify-content: center;
  & h2 {
    font-family: 'quicksand', 'sans-serif';
    font-weight: 500  ;
    color: white;
    background-color: #123794;
    padding: 10px;
    border-radius: 15px;
    font-weight: 500;
  }
}
