@import "../../styles/Sizes.scss";
@import "../../styles/Colors.scss";
@import "../../styles/BreakPoints.scss";

.container_dashboard {
  width: $widthContainer;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  aside {
    grid-column: span 3;
    background-color: $gray-light;
    min-height: 100vh;
  }
  .dashboard {
    margin-top: 20px;
    grid-column: span 7;
    padding: 0 2rem;
  }
  .datos {
   .item {
     p {
      display: block;
     }
   }
  }
}

@media (max-width: $breakpoint-mobile) {
  .container_dashboard {
    width: 100%;
    aside {
      display: none;
    }
    .dashboard {
      grid-column: span 12;
    }
  }
}