@import "../../../../styles/Colors.scss";
@import "../../../../styles/Sizes.scss";
.portada {
  height: 200px;
  background: $primary-color
    linear-gradient(lighten($blue, 10%) 0%, rgba(0, 0, 0, 1) 120%);
  .container_portada {
    width: $widthContainer;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .avatar {
      margin-bottom: 20px;
      gap: 20px;
      a {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      img {
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid white;
      }
      span {
        font-size: 1.8rem;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
