.autorAvatar__autorLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.autorAvatar__picture {
  display: flex;
  align-items: center;
}
.autorAvatar__imgAutor {
  border-radius: 50%;
}
.autorAvatar__name {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 500;
  color: #000;
}
