.preguntasSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19274a;
  padding: 15px;
  & span {
    margin: 0 10px;
    font-family: "quicksand";
    color: white;
  }
  & input {
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
  }
  & button {
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px 6px;
    background: #ffffff;
    color: #19274a;
  }
}
