@import "../../../styles/Fonts.scss";
.preguntasSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  position: relative;
  margin-top: 20px;
  input {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 100%;
    font-family: $primary-font;
    text-indent: 10px;
  }
  button {
    position: absolute;
    right: 30px;
    top: 23px;
    cursor: pointer;
  }
}
