@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";
@import "../../../styles/Buttons.scss";

.tarjetaPregunta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    .tools {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;
      gap: 10px;
      .editButton {
        cursor: pointer;
      }
      .validada {
        cursor: pointer;
      }
      .buttonSave {
        cursor: pointer;
      }
    }
  }


  .titleEditContainer {
    display: flex;
    flex-direction: column;
    .inputEdit {
      width: 100%;
      min-height: 200px;
      font-size: 1.2rem;
      padding: 10px;
      font-family: $primary-font;
      color: $blue;
      background-color: transparent;
      border-radius: 10px;
    }
    .btnsContainer {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  .title {
    color: darken($blue, 10%);
    font-family: $secondary-font;
    font-size: 1.9rem;
    line-height: 1.3em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    word-break: break-word;
    &::selection {
      background-color: $primary-color;
      color: $blue;
    }
  }
  .cuerpo {
    font-family: $primary-font;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
  }

  .buttonShowRespuestas {
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    color: #000;
    span {
      font-size: 0.9rem;
    }
  }
  .sinRespuestas {
    font-size: 0.9rem;
    color: $blue;
    margin-top: 20px;
    text-align: center;
  }
  .likes {
    display: flex;
    justify-content: center;
    padding: 15px 0 0;
    align-items: center;
    & button {
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .tarjetaPregunta {
    padding: 20px 10px;
    .title {
      font-size: 1.5rem;
    }
    .buttonSave {
      top: 20px;
      right: 10px;
    }
  }
}
