@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";
@import "../../../styles/Buttons.scss";

.tarjetaPregunta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;

  .titleEditContainer {
    display: flex;
    flex-direction: column;
    .inputEdit {
      width: 100%;
      height: auto;
      font-size: 1.2rem;
      padding: 10px;
      font-family: $primary-font;
      color: $blue;
      background-color: transparent;
      border-radius: 10px;
    }
    .btnEdit {
      margin: 10px auto;
      height: auto;
      font-size: 1rem;
      padding: 10px;
      border: 1px solid $blue;
      background-color: $blue;
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
    }
  }

  .editButton {
    cursor: pointer;
    position: absolute;
    right: 75px;
    top: 22px;
  }

  .validada {
    cursor: pointer;
    display: inline-block;
  }

  .title {
    color: darken($blue, 10%);
    font-family: $secondary-font;
    font-size: 1.9rem;
    line-height: 1.3em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    word-break: break-word;
    &::selection {
      background-color: $primary-color;
      color: $blue;
    }
  }
  .cuerpo {
    font-family: $primary-font;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
  }
  .buttonSave {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 50px;
  }
  .buttonShowRespuestas {
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    color: #000;
    span {
      font-size: 0.9rem;
    }
  }
  .sinRespuestas {
    font-size: 0.9rem;
    color: $blue;
    margin-top: 20px;
    text-align: center;
  }
  .likes {
    display: flex;
    justify-content: center;
    padding: 15px 0 0;
    align-items: center;
    & button {
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .tarjetaPregunta {
    padding: 20px 10px;
    .title {
      font-size: 1.5rem;
    }
    .buttonSave {
      top: 20px;
      right: 10px;
    }
  }
}
