@import "../styles/Sizes.scss";
@import "../styles/Colors.scss";
@import "../styles/BreakPoints.scss";

.homeContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
}
.homeContainer__left {
  grid-column: span 3;
  background-color: $gray-light;
  position: sticky;
  top: 40px;
  height: 100vh;
}
.homeContainer__main {
  grid-column: span 6;
  padding: 0 20px;
}
.homeContainer__right {
  grid-column: span 3;
  background-color: $gray-light;
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: $breakpoint-laptop) {
  .homeContainer {
    grid-template-columns: repeat(12, 1fr);
  }
  .homeContainer__left {
    grid-column: span 3;
  }
  .homeContainer__right {
    grid-column: span 3;
  }
  .homeContainer__main {
    grid-column: span 6;
  }
}

@media (max-width: $breakpoint-tablet) {
  .homeContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .homeContainer__left {
    grid-column: span 3;
  }
  .homeContainer__right {
    grid-column: span 3;
  }
  .homeContainer__main {
    grid-column: span 3;
  }
}

@media (max-width: $breakpoint-mobile) {
  .homeContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .homeContainer__left {
    display: none;
  }
  .homeContainer__right {
    display: none;
  }
  .homeContainer__main {
    grid-column: span 3;
  }
}
