@import "../../../styles/Fonts.scss";
@import "../../../styles/Colors.scss";
@import "../../../styles/Buttons.scss";
.addRespuesta {
  display: flex;
  flex-direction: column;
  &__button {
    @include buttonBlue;
    margin-left: auto;
  }
  textarea {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: none;
    color: $blue;
    font-family: $secondary-font;
    font-size: 1rem;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    &:focus-visible {
      outline: mix($primary-color, $blue, 50%) auto 1px;
    }
  }
}
