@import "../../../styles/Fonts.scss";
@import "../../../styles/Colors.scss";
@import "../../../styles/Buttons.scss";
.active {
  textarea {
    height: 100px !important;
  }
}
.addRespuesta {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &__button {
    position: absolute;
    right: 10px;
    top: 8px;
    margin-left: auto;
    cursor: pointer;
  }
  textarea {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    color: $blue;
    font-family: $primary-font;
    font-size: 0.8rem;
    height: 40px;
    padding: 10px 15px;
    width: 100%;
    &:focus-visible {
      outline: mix($primary-color, $blue, 50%) auto 1px;
    }
    &::placeholder {
      color: #000;
    }
  }
}
