@import "../../../styles/BreakPoints.scss";
.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 10px;

  &__image {
    // width: 40px;
    // height: 40px;
    img {
      // width: 100%;
      // height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    p {
      margin: 0;
    }
  }
  &__logOutButton {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: $breakpoint-mobile) {
  .userAvatar {
    &__name { display: none; }
    &__logOutButton {
      display: none;
    }
  }  
}