@import "./Colors.scss";
@import "./Fonts.scss";

@mixin buttonBlue {
  // box-shadow: 5px 5px 0 $primary-color;
  background-color: $blue;
  border-radius: 5px;
  color: #fff;
  font-family: $primary-font;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  &:disabled {
    background-color: mix($blue, $primary-color, 30%);
    cursor: default;
  }
  &:hover {
    background-color: lighten($blue, 10%);
  }
}
