@import "../../../styles/Colors.scss";
@import "../../../styles/Sizes.scss";
@import "../../../styles/BreakPoints.scss";
.header {
  background-color: $blue;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  & nav {
    margin-left: auto;
  }
  &__linkPerfil {
    padding: 3px 7px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'mukta';
    cursor: pointer;
  }
  &__logo {
    height: 40px;
    width: 80px;
    background-color: #fff;
  }
  &__container {
    display: flex;
    align-items: center;
    max-width: $widthContainer;
    margin: 0 auto;    
    justify-content: space-between;
  }
}

@media (max-width: $breakpoint-mobile) {

}